*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.container-desconto{
    width: 100%;
    height: 38px;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 5px;
}
.container-desconto p{
    font-size: 10px;
}
.container-desconto > a{
    color: #ffffff;
}
.desconto-button{
    position: absolute;
    right: 135px;
    background-color: #000000;
    border: none;
}

/************************************************** container seletores********************************/
.container-seletores{
    width: 100%;
    height: 103px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seletores-container-title{
    max-width: 1240px;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.seletores-title > img{
    display: none;
}
.seletores-title  h1{
    font-weight: 600;
    color: #000000;
}
.container-seletores  ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.seletores-input{
    width: 577px;
    height: 48px;
    background-color: #F0F0F0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    padding-left: 20px;
}
.seletores-input input{
    background-color: #F0F0F0;
    border: none;
    outline: 0;
}
.login{
    border: none;
    background-color: #FFFFFF;
}
.carrinho{
    border: none;
    background-color: #FFFFFF;
}
/************************************************* Termino da seção seletores ***************************/


/*Inicio do  header*/
/*************************************************** Container Banner ***********************************/
.container-banner{
    width: 100%;
    height: 663px;
    background-color: #F2F0F1;
    background-image: url("../assets/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.container-banner .estrelas{
    position: absolute;
}
.container-banner  .maior{
    top: 90px;
    left: 1210px;
}
.container-banner  .menor{
    top: 300px;
    left: 700px;
}
.container-banner-info{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    gap: 40px;
}
.container-banner-info > div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 43%;
}
.container-banner-info > div > h2{
    font-size: 64px;
    font-weight: 700;
    color: #000000;
}
.container-banner-info > div p{
    font-size: 16px;
    font-weight: 400;
    color: #646464;
}
.container-banner-info > div button{
    width: 210px;
    height: 52px;
    background-color: #000000;
    border-radius: 62px;
    color: #ffffff;
}
.container-banner-info tr{
    width: 596px;
    height: 74px;
    list-style: none;
    display: flex;
    gap: 32px;
}
.container-banner-info tr  td  em{
    font-size: 40px;
    font-weight: 700;
    color: #000000;
}
.container-banner-info ul > td{
    font-size: 16px;
    font-weight: 400;
    color: #646464;
}
.estrelas:hover{
    transition: 5s;
    transform: rotate(780deg);
}

/******************************************* TERMINO DO CONTAINER BANNER *******************************/

/******************************************* INÍCIO DO CONTAINER MARCAS *******************************/

.container-marcas{
    width: 100%;
    height: 122px;
    background-color: #000000;
}
.container-marcas-lista{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 0 40px 0 40px;
}

/******************************************* FIM DO CONTAINER MARCAS *******************************/

/******************************************* INÍCIO CONTAINER VITRINE ******************************/

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-first-vitrine{
    width: 88%;
    height: 800px;
    border-bottom: 1px solid #c4bbbb;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-first-vitrine > h2{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding: 80px 0 70px 0;
}
.vitrine-looks{
    display: flex;
    gap: 15px;
}
.vitrine-cards{
    width: 280px;
    height: 350px;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.vitrine-cards:hover{
    transition: 4s;
    scale: 1.3;
}
.container-img-look{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0EEED;
    border-radius: 20px;
}
.vitrine-looks-img{
   width: 100%;
   height: 300px;
   border-radius: 30px;
}
.vitrine-looks-img:hover{
    border-radius: 30px;
    transition: 4s;
    transform: rotateX(360deg);
}
.vitrine-cards h3{
    font-size: 20px;
    font-weight: 700;
    padding: 10px 0 5px 0;
}
.container-avaliation{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 5px;
    gap: 10px;
}
.vitrine-value{
    display: flex;
    align-items: center;
    gap: 10px;
}
.vitrine-value p{
    font-size: 24px;
    font-weight: 700;
}
.vitrine-value em{
    font-size: 24px;
    font-family: 700;
    color: #8b8583;
    text-decoration: line-through;
}
.vitrine-value strong{
    width: 58px;
    border-radius: 62px;
    padding: 6px 14px 6px 14px;
    background-color: #df9f9f;
    color: #FF3333;
    font-size: 12px;
}
.container-first-vitrine button{
    width: 218px;
    height: 52px;
    border: 1px solid #8b8583;
    border-radius: 62px;
    padding: 16px 54px 16px 54px;
    font-size: 16px;
    font-weight: 500;
    background-color: #FFFFFF;
    margin-top: 120px;
}

/**********************************************CONTAINER VITRINE*****************************************/

.container-last-vitrine{
    width: 88%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-last-vitrine > h2{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding: 80px 0 70px 0;
}
.container-last-vitrine button{
    width: 218px;
    height: 52px;
    border: 1px solid #8b8583;
    border-radius: 62px;
    padding: 16px 54px 16px 54px;
    font-size: 16px;
    font-weight: 500;
    background-color: #ffffff;
    margin-top: 120px;
}

/**********************************************CONTAINER STILUS*****************************************/

.container-stilus{
    width: 88%;
    height: 866px;
    background-color: #F0F0F0;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}
.container-stilus h3{
    font-size: 48px;
    font-weight: 700;
}
.card-stilus{
    width: 90%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.card-stilus div{
    width: 360px;
    height: 289px;
    border-radius: 20px;
    border: 1px solid gray;
    background-color: #FFFFFF;
    font-size: 36px;
    padding: 30px 0 0 30px;
}
.card-stilus div:nth-child(1){
    background-image: url("../assets/casual.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
.card-stilus div:nth-child(2){
    flex-grow: 1;
    background-image: url("../assets/formal.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
.card-stilus div:nth-child(3){
    flex-grow: 1;
    background-image: url("../assets/party.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
.card-stilus div:nth-child(4){
    background-image: url("../assets/gym.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
/**********************************************CONTAINER STILUS*****************************************/

/**********************************************CONTAINER COMENTÁRIOS************************************/

.container-comentarios{
    width: 100%;
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;
}
.container-comentarios h3{
    text-align: start;
    padding: 80px 0 0 90px;
    font-size: 48px;
    font-weight: 700;
}
.pai-carrossel{
    width: 100%;
    height: 500px;
    display: flex;
}
.pai-carrossel button{
    width: 50px;
    height: 240px;
    border-radius: 10px;
    opacity: 0.5;
}
.container-comentarios-card{
    display: flex;
    box-sizing: border-box;
    overflow-x: auto;
    width: 98%;
    height: 300px;
}
.container-comentarios-card::-webkit-scrollbar{
    display: none;
} 
.container-inter-carrossel{
    display: flex;
    gap: 25px;
    margin: 0 auto;
}
.item{
    width: 400px;
    height: 240px;
    padding: 28px 32px 28px 32px;
    border: 1px solid #c4bbbb;
    border-radius: 20PX;
    flex-shrink: 0;
    opacity: 0.6;
    transition: all 600ms ease-in-out; 
}
.current-item{
    opacity: 1;
    border: 5px solid turquoise;
}
.card-interno{
    width: 336px;
    height: 161.58px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card-interno img{
    width: 22.58px;
    height: 22.58px;
}
.card-interno div{
    display: flex;
    align-items: center;
    gap: 10px;
}

/*******************************************CRIAÇÃO DO CARROSSEL ************************************/

/*******************************************CRIAÇÃO DO FOOTER ************************************/

.container-final{
    width: 100%;
    height: 589px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0EEED
}
.pai-form{
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.pai-form form{
    width: 89%;
    height: 180px;
    background-color: #000000;
    border-radius: 20px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.pai-form form h3{
    width: 551px;
    height: 94px;
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
}
.pai-form form fieldset{
    display: flex;
    flex-direction: column;
    border: none;
    gap: 12px;
}
.pai-form form fieldset div, .final-button{
    width: 349px;
    height: 48px;
    padding: 12px 16px 12px 16px;
    background-color: #FFFFFF;
    border-radius: 62px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
.pai-form form fieldset div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.pai-form form fieldset input{
    border: none;
    width: 100%;
    height: 100%;
    outline: 0;
}
.pai-footer{
    width: 100%;
    height: 100%;
    background-color: #F0EEED;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-table{
    width: 89%;
    height: 177px;
    margin: 140px 0 40px 70px;
    display: flex;
    justify-content: space-between;
}
.table-corpo thead tr th{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
.table-corpo tbody tr td{
    font-size: 14px;
    font-weight: 400;
    color: #8b8583;
}
.table-title{
    width: 248px;
    height: 177px;
    line-height: 22px;
}
.table-title h3{
    font-size: 33.45px;
    font-weight: 700;
    padding-bottom: 25px;
}
.table-title p{
    font-size: 14px;
    font-weight: 400;
    color: #8b8583;
}
.table-title figure{
    display: flex;
    gap: 10px;
    padding-top: 30px;
}
.table-corpo{
    width: 75%;
    text-align: center;
}
.container-linha{
    width: 89%;
    border: 1px solid #c4bbbb;
    margin: 0 0 20px 0;
}
.container-footer{
    width: 89%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    background-color: #F0EEED
}
.container-footer p{
    font-size: 14px;
    font-weight: 400;
    color: #8b8583;
}
.container-footer figure{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: #F0EEED;
}
.container-footer figure img{
    width: 46px;
}
.container-footer p {
    width: 400px;
}



